<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="UserAgent" value="Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; .NET CLR 1.0.3705)" />
        <add key="HtmlTemplate" value="Templates\ReportTemplate.cshtml" />
        <add key="ProcessUrlsNumber" value=""/>

    </appSettings>
    <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="asyncFile" xsi:type="AsyncWrapper">
                <target name="FileOutput" xsi:type="File" 
                        fileName="Logs\${shortdate:format=yyy-MM-dd}.log" 
                        layout="${level} ${date:format=yyyy-MM-dd} ${time}${newline}${message}"/>
            </target>
            <target name="ConsoleOutput" xsi:type="ColoredConsole"
                    layout="${message}">               
            </target>
        </targets>        
        <rules>
            <logger name="*" minlevel="Trace" writeTo="FileOutput" />
            <logger name="*" minlevel="Info" maxlevel="Error" writeTo="ConsoleOutput" />
        </rules>
    </nlog>
</configuration>
